@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(222, 234, 238);
}

.App {
  display: flex;
  justify-content: center;
  font-family: Roboto;

  &-wrapper {
    display: grid;
    width: 400px;
  }
}

.newComment {
  padding: 20px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  margin-top: 20px;

  &__button {
    display: grid;
    margin: 0 auto;
    margin-top: 8px;
    background-color: transparent;
    border: 0.5px solid grey;
    color: grey;
  }

  &__input {
    border: 1px solid white;
    outline-style: none;
    background-color: pink;
    height: 40px;
    padding: 10px;
  }
}

.newTitle__input {
  border: 1px solid white;
  outline-style: none;
  background-color: pink;
  height: 40px;
  padding: 10px;
}


.Comment {
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  color: rgb(77, 75, 75);

  &__body {
    margin: 10px;
  }

  &__like-button {
    width: 15px;
    opacity: 50%;
    margin-top: 6px;
  }
}